<h1>Card Search Results</h1>

<% if @cards.any? %>
  <div class="card-images">
    <% @cards.each do |card| %>
      <div class="card-image">
        <img src="<%= card.image %>" alt="<%= card.name %>" />
      </div>
    <% end %>
  </div>
<% else %>
  <p>No cards found.</p>
<% end %>


