<h1>Search for Cards</h1>

<%= form_tag(cards_path, method: :get) do %>
  <%= text_field_tag(:query, params[:query], placeholder: "Enter card name") %>
  <%= submit_tag("Search") %>
<% end %>

<% if @cards.present? %>
  <h2>Search Results</h2>
  <% @cards.each do |card| %>
    <p><%= card['name'] %></p>
  <% end %>
<% else %>
  <p>No cards found.</p>
<% end %>
